#wrapper
  display none

table
  width 100%
  border 1px solid #ddd
  margin-top 20px
  font-size 20px

  tr:nth-child(odd)
    background-color #fff

  tr:nth-child(even)
    background-color #f1f1f1

  .win
    color white
    background green
  th
    font-weight bold